<!--restaurant information-->

<div class="restaurant" ng-if="restaurant.name">
    <div class="rest-wrapper">
            <div class="image">
                <img ng-src="{{restaurant.image}}" height="100" width="100">
            </div>
        <div class="rest-info">
                <div class="rest-category">
                   <small>{{restaurant.category}} </small>
                </div>

                <div class="rest-name">
                    <a ng-href="#!/restaurant/{{restaurant.id}}"><strong>{{restaurant.name}}</strong></a>
                </div>
                  <div>
                     <strong> {{restaurant.location}}</strong>
                  </div>

                <div class="rest-address">
                    {{restaurant.address}}
                </div>
        </div>    <!--end of rest-info-->

    </div>          <!--end of rest-wrapper class-->

    <div class="rest-extra">
          <div class="type">
              <div><small>Cuisines:</small></div>
              <div><small>Cost for Two: </small></div>
              <div><small>Hours:</small></div>
              <div ng-if="restaurant.bestDish"><small>Recommended: </small></div>             <!--best dish of the restaurant-->
          </div>

        <div class="value">
            <div>{{restaurant.cuisines}}</div>
            <div>₹{{restaurant.cost | number}}</div>
            <div>{{restaurant.hours}}</div>
            <div class="bestDish" ng-if="restaurant.bestDish">
                  <span>{{restaurant.bestDish.name}} </span>                            <!--ingredients of the best dish-->
                  <div  ng-click="getIngredients(restaurant.bestDish.image);toggle();" class="button">Get Ingredients</div>
        <div  class="button" ng-init= "getIngredients(restaurant.bestDish.image)"><a href="#!/shoppinglist " ng-click="getIngredients(restaurant.bestDish.image)">List</a></div>
       </div>
   </div>
   <div ng-if="ingredients && x==1">
            </div>



      </div>
          <div class="rating">
              <strong>{{restaurant.vote}}</strong>
          </div>
<!--end of restaurant class-->
        </div>

<!--to show each restaurant alone-->
<div ng-if="ingredients">
    <ol>
    <li ng-repeat="ingredient in ingredients">
    {{ingredient}}
    </li>
    </ol>
</div>
